# Xcode
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcscmblueprint
DerivedData/
build/
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets
.env
*.pem
